
@darkback: #483a3a;
@lightback: #eae1c0;
@lightestback: #f5eedb;
@white: #fff;
@greenhilight: #8fb98b;
@redhilight: #de564b;

@headingColor: @darkback;
@textColor: lighten(@darkback, 10%);

@background: @lightestback;

@footerBackground: @greenhilight;
@articleBackground: @white;
@border: @lightback;

@linkColor: @greenhilight;
@linkHover: lighten(@linkColor, 10%);
@linkColorVisited: darken(@linkColor, 10%);

@highlight: @redhilight;

@menubackground: @lightback;
@menusplit: darken(@lightback, 10%);

@codeColor: @greenhilight;

@aboutbackground: darken(@background, 10%);
