// http://www.colourlovers.com/palette/1369317/Waiheke_Island.
@one: #3F4A50;
@two: #5E635F;
@three: #817F73;
@four: #D2C2A1;
@five: #0A0B06;
@six: #fff;

@textColor: @three;
@headingColor: darken(@textColor, 5%);

@background: @one;
@background-image: url('../images/background.png');

@articleBackground: @five;

@linkColor: @four;
@linkHover: lighten(@linkColor, 10%);
@linkColorVisited: darken(@linkColor, 10%);

@highlight: @four;

@codeColor: @two;

@footerBackground: darken(@background, 10%);
